body {
    font-family: monaco, Consolas, "Lucida Console", monospace;
}

.banner {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp-title, .exp-place, .exp-time, .exp-city{
    margin-bottom: 0;
}

.exp-title{
    font-weight: bold;
    font-size: 18px;
}

.exp-time, .exp-city{
    font-size: 14px;
    color: #444;
}

.skills,
.skills .skill,
.skills .skill .skill-title,
.skills .skill .skill-bar {
    width: 100%;
    float: left;
}

.skills {
    padding: 15px;
}

.skills .skill {
    margin-bottom: 30px;
}

.skills .skill .skill-title {
    color: #444;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
}

.skills .skill .skill-bar {
    width: 0;
    height: 6px;
    background: #cecece;
    transition: 1s cubic-bezier(1, 0, .5, 1);
    -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
    -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
}

.skills.active .skill .skill-bar {
    width: 100%;
}

.skills .skill .skill-bar span {
    float: left;
    width: 0%;
    background: black;
    height: 6px;
    position: relative;
    transition: 1s cubic-bezier(1, 0, .5, 1);
    -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
    -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
}

.skills .skill .skill-bar span b {
    float: left;
    width: 100%;
    position: relative;
    text-align: right;
    opacity: 0;
    font-size: 14px;
    color: #444;
    font-weight: 400;
    top: -17px;
}

.container-skill {
    width: 100%;
    max-width: 600px;
    padding: 0 15px;
    margin: 0 auto;
}